In [ ]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!pip install gmaps
!jupyter nbextension enable --py --sys-prefix gmaps

In [1]:
# Dependencies
from census import Census
from api_keys import (weather_api_key, g_key)
import gmaps
import numpy as np
import pandas as pd
import requests
import time
import json
from scipy.stats import linregress
from matplotlib import pyplot as plt
from citipy import citipy
import pprint

#REMOVE THESE! TEsting api import
print(weather_api_key)
print(g_key)

5dbe6ba6b0fabd35a6044ad062466942
AIzaSyBZoLL-T6qizVpDGO9cYUl8j6r8zgmGOWA

In [2]:
#created varaibles for hiolding data
cities= []
lats=[]
lons=[]

#function to retrieve random coordinates. limits given by natural lat and lon ranges
lats = np.random.uniform(-90,91,size=(15))
lons = np.random.uniform(-180,181,size=(15))
coordinates = zip(lats,lons)

#smple function to iterate the coordinates variable, looking for city bames
for c in coordinates:
    city_nme=citipy.nearest_city(c[0],c[1]).city_name
    cities.append(city_nme)
#small test to see if appending city names is working
print(cities)

['flin flon', 'lebu', 'jamestown', 'ushuaia', 'rikitea', 'aripuana', 'luderitz', 'north bend', 'mataura', 'sao joao da barra', 'taolanaro', 'punta arenas', 'weligama', 'barrow', 'chokurdakh']

In [ ]:
#TESting code!! - DELETE


#url = "http://api.openweathermap.org/data/2.5/weather?"
#units = "imperial"
# Build partial query URL
#query_url = f"{url}appid={weather_api_key}&units={units}&q="

#testhumid=[]
#testtemp=[]
#ciudades=["lima","manila"]

#for city in ciudades:
#    city_weather = requests.get(query_url + city).json()
#    testtemp.append(city_weather['main']['temp'])
#    testhumid.append(city_weather['main']['humidity'])
    
#print(json.dumps(city_weather, indent=4, sort_keys=True))

#print(testhumid)
#print(testtemp)

In [13]:
#building blocks for api retireval

url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"
# Build partial query URL
query_url = f"{url}appid={weather_api_key}&units={units}&q="

#variables for holding weather data for each city
temps=[]
cloud=[]
wind_spd=[]
humid=[]
date=[]

#iteration to track number of retrievals
iteration = 0
#loop to iterate city list, seeking for the relevant information from the Open Weather API, holding it in the variables
for city in cities:
 
    try:
        city_weather = requests.get(query_url + city).json()
        temps.append(city_weather['main']['temp_max'])
        cloud.append(city_weather['clouds']['all'])
        wind_spd.append(city_weather['wind']['speed'])
        humid.append(city_weather['main']['humidity'])
        date.append(city_weather['dt'])
        iteration = iteration + 1
        print(f"Processing {city} city number {iteration} of {len(cities)}")
#experienced MANY issues with arrays of unequal length. Current solution is add a placeholder value, clearly indicating it has to be removed, to maintain array length
    except: 
        print(f"I don't like {city} - better move on to next city")
        temps.append("Null")
        cloud.append("Null")
        wind_spd.append("Null")
        humid.append("Null")
        date.append("Null")

        
        #test Array lengths
#print(len(cities))
#print(len(lats))
#print(len(lons))
#print(len(wind_spd))
#print(len(humid))        
#print(len(date))       

#city_df = pd.DataFrame({"City":cities,"Lat":lats,"Lon":lons, "Temp":temps,"Cloudiness": cloud, "Wind Speed": wind_spd, "Humidity":humid,"Date":date})    
    
#city_df.head(30)        
#print(json.dumps(city_weather, indent=4, sort_keys=True))

Processing flin flon city number 1 of 15
Processing lebu city number 2 of 15
Processing jamestown city number 3 of 15
Processing ushuaia city number 4 of 15
Processing rikitea city number 5 of 15
Processing aripuana city number 6 of 15
Processing luderitz city number 7 of 15
Processing north bend city number 8 of 15
Processing mataura city number 9 of 15
Processing sao joao da barra city number 10 of 15
I don't like taolanaro - better move on to next city
Processing punta arenas city number 11 of 15
Processing weligama city number 12 of 15
Processing barrow city number 13 of 15
Processing chokurdakh city number 14 of 15

In [19]:
city_df = pd.DataFrame({"City":cities,"Lat":lats,"Lon":lons, "Max_Temp":temps,"Cloudiness": cloud, "Wind_Speed": wind_spd, "Humidity":humid,"Date":date})    
#len(city_df)
    
nonull_city_df = city_df[city_df["Date"]!= "Null"]    
nonull_city_df.head(30)

nonull_city_df.to_csv (r'C:\Users\CrazyGeeks\Desktop\dataframe.csv', index = None, header=True)

,City,Lat,Lon,Max_Temp,Cloudiness,Wind_Speed,Humidity,Date
0,flin flon,58.043103,-100.991075,16.75,0,3.67,96,1610162085
1,lebu,-32.648202,-95.665255,54,76,14.25,82,1610162086
2,jamestown,-51.948152,-14.922642,21.99,20,5.75,93,1610162082
3,ushuaia,-60.264032,-53.693836,55.4,40,16.11,44,1610162035
4,rikitea,-44.765528,-123.431572,78.8,70,11.03,75,1610161799
5,aripuana,-9.432807,-59.426205,75.06,60,1.14,83,1610162033
6,luderitz,-26.339743,15.356584,65.44,0,14.56,69,1610162059
7,north bend,42.630352,-130.706105,45,1,4.61,100,1610162087
8,mataura,-83.608714,-166.600835,61,87,15.01,70,1610162087
9,sao joao da barra,-29.777177,-25.920120,76.35,93,8.46,92,1610162088
11,punta arenas,-78.840940,-91.530784,50,75,16.11,66,1610162078
12,weligama,0.795596,79.572679,79.11,100,4.85,84,1610162089
13,barrow,85.689172,-147.700731,-4,75,6.91,77,1610162089
14,chokurdakh,82.309274,152.506837,-21.24,92,3.27,88,1610161824

In [57]:
#check for values over 100 for humidity
print(np.max(nonull_city_df["Humidity"]))

nonull_city_df.head()

#find the indices for humidity values greater than 100
indices = np.where(nonull_city_df["Humidity"] > 100)
print(indices[0])

#new df after dropping values using index
clean_city_df = nonull_city_df.drop(indices[0],axis =0)
clean_city_df.head(15)

100
[]

,City,Lat,Lon,Max_Temp,Cloudiness,Wind_Speed,Humidity,Date
0,flin flon,58.043103,-100.991075,16.75,0,3.67,96,1610162085
1,lebu,-32.648202,-95.665255,54,76,14.25,82,1610162086
2,jamestown,-51.948152,-14.922642,21.99,20,5.75,93,1610162082
3,ushuaia,-60.264032,-53.693836,55.4,40,16.11,44,1610162035
4,rikitea,-44.765528,-123.431572,78.8,70,11.03,75,1610161799
5,aripuana,-9.432807,-59.426205,75.06,60,1.14,83,1610162033
6,luderitz,-26.339743,15.356584,65.44,0,14.56,69,1610162059
7,north bend,42.630352,-130.706105,45,1,4.61,100,1610162087
8,mataura,-83.608714,-166.600835,61,87,15.01,70,1610162087
9,sao joao da barra,-29.777177,-25.920120,76.35,93,8.46,92,1610162088
11,punta arenas,-78.840940,-91.530784,50,75,16.11,66,1610162078
12,weligama,0.795596,79.572679,79.11,100,4.85,84,1610162089
13,barrow,85.689172,-147.700731,-4,75,6.91,77,1610162089
14,chokurdakh,82.309274,152.506837,-21.24,92,3.27,88,1610161824