# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

print(g_key)

AIzaSyBZoLL-T6qizVpDGO9cYUl8j6r8zgmGOWA

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Study data files
cities_data_path = "output_data/cities.csv"


# Read the mouse data and the study results
cities_df = pd.read_csv(cities_data_path)

print(len(cities_df))
cities_df.head()

534

,City,Lat,Lon,Max_Temp,Cloudiness,Wind_Speed,Humidity,Date,Country
0,vryburg,-27.124042,24.418677,82.22,100,3.69,40,1610262629,ZA
1,kapaa,28.172591,-176.755914,73.40,90,10.36,88,1610262448,US
2,khatanga,75.795898,105.096375,-30.24,80,8.50,84,1610262450,RU
3,cockburn town,26.632385,-71.133843,78.01,100,8.32,73,1610262465,TC
4,cairns,-15.612380,146.330230,82.99,100,5.75,78,1610262563,AU

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store latitude and longitude in locations

cities_trimmed = cities_df
cities_trimmed = cities_trimmed.drop(cities_trimmed[cities_trimmed["Lat"] > 90].index)
cities_trimmed = cities_trimmed.drop(cities_trimmed[cities_trimmed["Lat"] < -90].index)
cities_trimmed = cities_trimmed.drop(cities_trimmed[cities_trimmed["Lon"] > 180].index)
cities_trimmed = cities_trimmed.drop(cities_trimmed[cities_trimmed["Lon"] < -180].index)


locations = cities_trimmed[["Lat", "Lon"]]

#print(cities_df["Lon"].max())
#print(cities_df["Lon"].min())
#print(cities_df["Lat"].max())
#print(cities_df["Lat"].min())


# Fill NaN values and convert to float
humidity = cities_trimmed["Humidity"].astype(float)

#len(cities_df)
print(len(cities_df))
print(len(cities_trimmed))

cities_trimmed.head()

534
531

,City,Lat,Lon,Max_Temp,Cloudiness,Wind_Speed,Humidity,Date,Country
0,vryburg,-27.124042,24.418677,82.22,100,3.69,40,1610262629,ZA
1,kapaa,28.172591,-176.755914,73.40,90,10.36,88,1610262448,US
2,khatanga,75.795898,105.096375,-30.24,80,8.50,84,1610262450,RU
3,cockburn town,26.632385,-71.133843,78.01,100,8.32,73,1610262465,TC
4,cairns,-15.612380,146.330230,82.99,100,5.75,78,1610262563,AU

In [4]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_cities = cities_trimmed

ideal_cities = ideal_cities.drop(ideal_cities[ideal_cities["Max_Temp"] > 85].index)
ideal_cities = ideal_cities.drop(ideal_cities[ideal_cities["Max_Temp"] < 65].index)
ideal_cities = ideal_cities.drop(ideal_cities[ideal_cities["Cloudiness"] > 5].index)

print(len(ideal_cities))

ideal_cities.head(22)

53

,City,Lat,Lon,Max_Temp,Cloudiness,Wind_Speed,Humidity,Date,Country
20,latung,3.685176,121.892117,83.88,0,6.64,71,1610262634,PH
44,betare oya,5.191921,13.797203,74.71,5,2.55,25,1610262642,CM
48,resistencia,-27.434811,-59.694673,73.99,0,4.61,88,1610262643,AR
53,boffa,9.587995,-14.795299,70.29,1,3.29,93,1610262645,GN
62,ballina,58.433126,-12.653027,78.80,0,13.80,53,1610262649,AU
86,saldanha,-38.680041,-0.217189,71.60,0,16.11,53,1610262658,ZA
91,walvis bay,-25.842355,2.869834,70.00,0,3.44,68,1610262659,NaN
92,marabba,12.146268,32.134562,79.95,0,14.32,23,1610262660,SD
96,saint-philippe,-34.930222,59.185595,84.20,0,11.50,74,1610262661,RE
99,busselton,-64.532565,97.915102,73.99,0,7.00,60,1610262430,AU
126,maceio,-18.823608,-25.009436,73.40,0,3.44,94,1610262672,BR
128,saint-pierre,39.967784,-54.478676,84.20,0,8.05,70,1610262561,RE
133,misratah,34.471247,17.211165,67.12,0,18.95,37,1610262674,LY
134,ndele,7.745441,20.249554,78.30,0,7.94,18,1610262675,CF
135,australind,-32.932767,115.904832,73.99,0,8.01,50,1610262675,AU
155,banikoara,12.005813,2.590908,69.19,0,4.16,23,1610262685,BJ
158,nalut,28.741708,9.623816,66.76,0,23.20,27,1610262687,LY
168,necochea,-45.826642,-57.490620,66.00,0,19.17,83,1610262692,AR
177,arlit,20.390672,7.170515,68.90,0,1.39,23,1610262698,NE
197,avarua,-22.143724,-161.535598,78.80,0,4.61,73,1610262444,CK
203,mopti,15.419423,-4.376899,69.80,0,4.61,35,1610262709,ML
213,flinders,-33.671772,133.845521,75.99,0,8.99,68,1610262714,AU

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
cities = ideal_cities["City"].tolist()
country = ideal_cities["Country"].tolist()
city_coords = []
hotels = []

cities_lat = []
cities_lon = []


# Build URL using the Google Maps API
coords_url = "https://maps.googleapis.com/maps/api/geocode/json"
hotel_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#cities_lookup.head()
#print(cities)

for city in cities:
    
    try:
        coords_params = {"address": city, "key": g_key}
        print(f"processing {city}")
#target_city = cities[5]
        coords_response = requests.get(coords_url, params=coords_params)
        city_geo = coords_response.json()
        lat = city_geo["results"][0]["geometry"]["location"]["lat"]
        lon = city_geo["results"][0]["geometry"]["location"]["lng"]
        cities_lat.append(lat)
        cities_lon.append(lon)
        hotel_params={"location": f"{lat},{lon}",
                    "keyword": "Hotel",
                    "radius": "5000",
                    "key": g_key}                      
        hotels_response = requests.get(hotel_url, params=hotel_params).json()
        hotels.append(hotels_response["results"][0]["name"])
        print(hotels_response["results"][0]["name"])   
    except: 
        hotels.append("null")

processing latung
processing betare oya
processing resistencia
Hotel Indigo Austin Downtown - University
processing boffa
Hôtel Niara Belly
processing ballina
Belleek Castle & Jack Fenn's Cafe & Bistro
processing saldanha
Hoedjiesbaai Hotel
processing walvis bay
Protea Hotel by Marriott Walvis Bay Pelican Bay
processing marabba
The Walper Hotel
processing saint-philippe
Les Embruns Du Baril
processing busselton
Busselton Beach Resort
processing maceio
Jatiúca Hotel & Resort
processing saint-pierre
Auberge Saint-Pierre
processing misratah
Franchise Hotel
processing ndele
processing australind
Riverside Cabins, Caravans & Camping
processing banikoara
HOTEL NANSOUNON
processing nalut
processing necochea
Hostel La casa de al lado
processing arlit
Hôtel Telwa Bungalow
processing avarua
The Rarotongan Beach Resort & Lagoonarium
processing mopti
Hôtel Kanaga
processing flinders
Esplanade Hotel
processing bubaque
BOB FISHING CLUB BIJAGOS
processing hobyo
Osmani Hotel
processing pisco
processing buenos aires
Four Seasons Hotel Buenos Aires
processing dutlwe
processing doha
Mandarin Oriental, Doha
processing belmonte
Pousada Convento de Belmonte
processing moussoro
processing boende
processing iquique
Hotel Terrado Cavancha
processing abu zabad
processing kadhan
processing byron bay
The Beach Shack
processing ramanuj ganj
Samanjasya hotel
processing touros
Bugaendrus Paradise
processing makokou
Hôtel Bélinga
processing wajir
Wajir Palace Hotel
processing nicoya
Hotel Doña Marta
processing kiama
The Sebel Kiama Harbourside
processing nisia floresta
Pousada Fulô de Maringá
processing waddan
processing bentiu
Mandela hôtel
processing isiro
Hotel de l'Uele
processing raymond terrace
Sir Francis Drake Motel
processing tijara
Tijara Fort-Palace - 19th Century, Alwar
processing coahuayana
Hotel Aeropuerto
processing rabak
فندق ربك Rabak Hotel
processing santa fe
The Inn of The Five Graces
processing jalu
Jalu Hotel
processing nelson bay
Amarna Luxury Beach Resort - Guest Only
processing buba
Apart Hotel Franconsarl

In [10]:


hotel_df_raw = pd.DataFrame({"City": cities,"Hotel Name": hotels, "Lat": cities_lat, "Lng": cities_lon, "Country":country}) 
hotel_df = hotel_df_raw[hotel_df_raw["Hotel Name"]!= "Null"]


hotel_df.head(25)

,City,Hotel Name,Lat,Lng,Country
0,latung,null,-8.435231,120.438644,PH
1,betare oya,null,5.592021,14.085613,CM
2,resistencia,Hotel Indigo Austin Downtown - University,30.222888,-97.700486,AR
3,boffa,Hôtel Niara Belly,10.180825,-14.039162,GN
4,ballina,Belleek Castle & Jack Fenn's Cafe & Bistro,54.114948,-9.155069,AU
5,saldanha,Hoedjiesbaai Hotel,-33.027698,17.917631,ZA
6,walvis bay,Protea Hotel by Marriott Walvis Bay Pelican Bay,-22.958408,14.505751,NaN
7,marabba,The Walper Hotel,43.491946,-80.542694,SD
8,saint-philippe,Les Embruns Du Baril,-21.358118,55.764656,RE
9,busselton,Busselton Beach Resort,-33.653158,115.345489,AU
10,maceio,Jatiúca Hotel & Resort,-9.649849,-35.708949,BR
11,saint-pierre,Auberge Saint-Pierre,46.775846,-56.180636,RE
12,misratah,Franchise Hotel,32.325588,15.099256,LY
13,ndele,null,8.410151,20.648179,CF
14,australind,"Riverside Cabins, Caravans & Camping",-33.275121,115.728526,AU
15,banikoara,HOTEL NANSOUNON,11.293453,2.435696,BJ
16,nalut,null,31.874235,10.975048,LY
17,necochea,Hostel La casa de al lado,-38.554497,-58.739609,AR
18,arlit,Hôtel Telwa Bungalow,18.739003,7.389477,NE
19,avarua,The Rarotongan Beach Resort & Lagoonarium,-21.212901,-159.782306,CK
20,mopti,Hôtel Kanaga,14.487428,-4.197463,ML
21,flinders,Esplanade Hotel,-35.024495,138.571328,AU
22,bubaque,BOB FISHING CLUB BIJAGOS,11.283333,-15.833333,GW
23,hobyo,Osmani Hotel,5.351592,48.524975,SO
24,pisco,null,28.016133,-82.485083,PE

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map


hotel_layer = gmaps.marker_layer(locations,info_box_content= hotel_info)

fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))